.pricingComponent {
    text-align: center;
}

.header {
    background-image: url(../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12.6em 13.3% 9.13em;
}

.title {
    color: var(--TextCTABackground);
}
.subtitle {
    color: var(--Text);
    font-weight:normal;
}


.sliderWrapper {
    width: 100%;
    height: .66em;
    position: relative;
    background-color: var(--EmptySliderBar);
}



.sliderBar {
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: var(--FullSliderBar);
    z-index: 0;
  }


.slider {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0px;
    z-index: 1;
  }



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  }

 


  .slider::-moz-range-thumb, .slider::-webkit-slider-thumb {
    background-color: var(--SliderBackground);
    background-image: url(../images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }


